{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'booksapp/base.css' %}">
    {% block head %} 

    {% endblock %}
  
</head>

<body>
  <div class="navbar" style="width: 100%">
    <a href="/" style="color: blue;">Home</a>
    <div class="dropdown">
      <button class="dropbtn">
      {% if user.is_authenticated %}
      {{ user.get_username }}     
      {% else %}

        user
      {% endif %}
        <i class="fa fa-caret-down"></i>
      </button>

      <div class="dropdown-content">
        {% if user.is_authenticated %}
          {% if user.is_superuser %}                      
            <a href="/admin/">admin</a>
          {% endif %}
        <a href="/admin/booksapp/book/add/">add book</a>
        <a href="/password_change/">password change</a> 
        <a href="/password_reset/">password reset</a> 
        <a href="/logout/">logut</a>
        {% else %}
        <a href="/register/">signup</a>
        <a href="/login/">login</a>
        {% endif %}
        
      </div>
    </div> 
  </div>
{% block body %} 
    
{% endblock %}
</body>
</html>